.header-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-button {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: purple;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  transition: transform .4s;
  transform-origin: center;
}

.nav-button:hover {
  transform: scale(1.2);
}

.nav-button-icon {
  height: 60px;
  width: 60px;
  transition: width 1s, height 1s;
}